<h3>States | New State Creation</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for State.<br/>* Please check all entries before Save.
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to States', states_path, :class=>'more tipTip1',:title => "Back to States" %>
</div>