<div class="recent_items">
  <div class="margin">
    <h3>Recent Enumeration Blocks</h3>
    <% if @recent.blank? %>
        No Enumeration Blocks Added Yet...
    <% else %>
        <% for eb in @recent %>
            <div id="margin">
              <div class="left">&nbsp;</div>
              <div class="right">&nbsp;</div>
              <div class="left-to-right">
                <div class="pen">&nbsp;</div>
                <div class="text">
                  <%= link_to eb.reference_number, enumeration_block_path(eb), :class=>'usuallink' %>
                  <div style="margin: 8px 0px;">&nbsp;</div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
    <div class="see_all">
      <a href="/enumeration_blocks">
        View all EB's
        <img hspace="2" border="0" alt="" src="/images/blue^.gif">
      </a>
    </div>
  </div>
</div>