<% title "VEDAVAAG | SECC | Enumeration Blocks " %>
<% content_for :sub_heading do %>
  <%= sub_heading('VEDAVAAG | SECC | Enumeration Blocks','Create Enumeration Block') %>
<% end %>
<%= render 'form',:heading => 'Create New Enumeration Block' %>
<div class="link_buttons">
 <%=link_to_all(enumeration_blocks_path)%>
</div>
