<h3>Districts | Edit District Information</h3>
<div class="list">
  <div class="help_text">
    * Fill the below form for District.<br/>* Please check all entries before Save.
  </div>
  <%= render 'form' %>
  <%= link_to 'Back to States', districts_path, :class=>'more tipTip1',:title => "Back to Districts" %>
</div>
