<% title "SECC | Districts " %>
<% content_for :sub_heading do %>
  <%= sub_heading('SECC | Districts','Create District') %>
<% end %>
<%= render 'form',:heading => 'Create New District' %>
<div class="link_buttons">
 <%=link_to_all(districts_path)%>
</div>
