<% title "VEDAVAAG | SECC | Panchayats " %>
<% content_for :sub_heading do %>
  <%= sub_heading('VEDAVAAG | SECC | Panchayats','Create Panchayat') %>
<% end %>
<%= render 'form',:heading => 'Create New Panchayat' %>
<div class="link_buttons">
 <%=link_to_all(panchayats_path)%>
</div>
