<ul class="page_menu">
    <li><%= tab_heading 'Dashboard' %>
    <ul>
      <li>
        <%= link_to 'Users', users_path,:class=>"tipTip1",:title=>"Manage Users" %>
      </li>
      <li>
        <%= link_to 'Panchayat', panchayats_path,:class=>"tipTip1",:title=>"Manage Panchayats" %>
      </li>
      <li>
        <%= link_to 'Enumeration Blocks', enumeration_blocks_path,:class=>"tipTip1",:title=>"Manage E-Blocks" %>
      </li>
    </ul>
  </li>
<!--
  <li><%# tab_heading 'Work' %>
    <ul>
      <li>
        <%#link_to 'Manage Attendance', attendances_path ,:class=>"tipTip1",:title=>"Manage Attendance" %>
      </li>
      <li>
        <%# link_to 'Manage Uploads', uploads_path ,:class=>"tipTip1",:title=>"Manage Uploads" %>
      </li>
    </ul>
  </li>
-->
</ul>

