<div class="form-container">
  <p class="legend">
    <strong>Note:</strong>
    Required fields are marked with an asterisk (<em>*</em>)
  </p>
  <%= simple_form_for(@attendance, :validate => true) do |f| %>
      <fieldset>
        <%= f.input :date, :as => :string, :input_html => {:id => 'date_picker',:value=>Time.now.strftime('%d-%m-%Y')},:label => 'Select Date' %>
        <%= f.submit 'Save', :disable_with => 'Please wait...' %>
      </fieldset>
  <% end %>
</div>
<script>
    $(function () {
        $("#date_picker").datepicker({dateFormat:'dd-mm-yy', maxDate:0, minDate:-1 });
    });
</script>