<% title "VEDAVAAG | SECC | Attendance " %>
<% content_for :sub_heading do %>
    <%= sub_heading('VEDAVAAG | SECC | Attendance','Attendance') %>
<% end %>
<%= render 'form',:heading => 'Save' %>
<div class="link_buttons">
  <%=link_to_all(attendances_path)%>
</div>
